.about {
  &__top {
    height: 220px;
    position: relative;
    background-color: #f0f0f0;
    @media screen and (max-width: 900px) {
      height: fit-content;
    }
    .about__banners {
      padding: 0 70px;
      position: absolute;
      z-index: 21;
      bottom: 50px;
      display: flex;
      justify-content: space-around;
      width: 100%;
      gap: 20px;

      @media screen and (max-width: 1200px) {
        padding: 0 20px;
      }
      @media screen and (max-width: 900px) {
        padding: 0 20px;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        bottom: 120px;
      }
      .banner {
        position: relative;
        width: 380px;
        height: 293px;
        box-shadow: inset 0px -100px 50px rgba(255, 167, 35, 0.6);
        @media screen and (max-width: 1200px) {
          width: 340px;
          height: 253px;
        }
        &:not(:last-child) {
          margin-right: 20px;
          @media screen and (max-width: 900px) {
            margin-right: 0;
          }
        }

        &__img {
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
          height: 100%;
          width: 100%;
        }

        &__title {
          position: absolute;
          bottom: 11px;
          left: 0;
          right: 0;
          padding: 0 10px;
          text-align: center;
          color: white;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.005em;
          text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  &__goal {
    padding: 65px 70px 65px 70px;
    @media screen and (max-width: 900px) {
      padding: 30px 30px 30px 30px;
    }
    @media screen and (max-width: 600px) {
      padding: 30px 15px;
    }
    &-inner {
      .about__title {
        text-align: center;
        font-weight: 800;
        font-size: 36px;
        line-height: 28px;
        letter-spacing: 0.005em;
        margin-bottom: 34px;
      }

      .about__desc {
        width: 100%;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #555555;
        letter-spacing: 0.005em;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &-image{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}
