$laptop-width: 1024px;

.about {
  &__goal {
    padding: 65px 70px 65px 70px;
    @media screen and (max-width: 900px) {
      padding: 30px 30px 30px 30px;
    }
    @media screen and (max-width: 600px) {
      padding: 30px 15px;
    }
    &-inner {
      .about__title {
        text-align: center;
        font-weight: 800;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.005em;
        margin-bottom: 34px;
      }

      .about__desc {
        width: 100%;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #555555;
        letter-spacing: 0.005em;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  @media (min-width: $laptop-width) {
    &__info{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__text, &__image{
      width: 45%;
    }

    &__slider {
      width: 45%;
    }
  }

  @media (max-width: $laptop-width) {
    &__image{
      margin: 0px 0px 15px 0px;
    }

    &__slider {
      margin: 0 0 40px 0;
    }
  }

  &-image{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}
