.activities{
    padding: 65px 70px 65px 70px;

    @media screen and (max-width: 900px) {
        padding: 30px 30px 30px 30px;
    }

    @media screen and (max-width: 600px) {
        padding: 30px 15px;
    }

    &__title{
        text-align: center;
        font-weight: 800;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.005em;
        margin-bottom: 34px;
    }

    &-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 15px;

        @media screen and (max-width: 900px) {
            grid-template-columns: 0.7fr;
            align-items: center;
            justify-content: center;
        }

        @media screen and (max-width: 600px) {
            grid-template-columns: 0.9fr;
            align-items: center;
            justify-content: center;
        }
    }
}

.activity{
    border: 2px solid #dddddd;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;

    &-img{
        margin: 0px 0px 15px 0px;
    }

    &-title{
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: #555;
        letter-spacing: .005em;
        text-align: center;
    }
}