.bank-account {
    border: 3px solid #eff6ff;
    display: flex;
    flex-direction: column;

    &__info{
        display: flex;
        flex-direction: column; 
    }

    &__title {
        background-color: #eff6ff;
    }
}