.contacts {
  padding: 85px 70px 117px;
  background-color: #f0f0f0;
  @media screen and (max-width: 900px) {
    padding: 30px;
  }
  @media screen and (max-width: 600px) {
    padding: 30px 15px;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__img {
    position: relative;
    height: 290px;
    max-width: 510px;
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      height: 100%;
      width: 100%;
    }

    &--left {
      margin-right: 20px;
      @media screen and (max-width: 600px) {
        margin: 0;
        margin-bottom: 20px;
      }
    }

    &--right {
      margin-left: 20px;
      @media screen and (max-width: 600px) {
        margin: 0;
        margin-top: 20px;
      }
    }
  }
  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #555555;
    max-width: 678px;
    width: 100%;
  }
}
