.donate {
    margin: 85px 0px 0px 0px;

    &__title{
        text-align: center;
        font-weight: 800;
        font-size: 36px;
        line-height: 28px;
        letter-spacing: 0.005em;
        margin-bottom: 34px;
    }
}