.footer {
  padding: 37px 50px 20px 50px;
  @media screen and (max-width: 1200px) {
    padding: 37px 30px 20px;
  }
  @media screen and (max-width: 1200px) {
    padding: 37px 15px 20px;
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media screen and (max-width: 768px) {
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    &__item {
      display: flex;
      flex-direction: column;
    }

    &__text {
      a {
        white-space: nowrap;
        &:hover {
          color: #adadab;
        }
      }
    }
    &__text:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.media {
  @media screen and (max-width: 750px) {
    order: 1;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    @media screen and (max-width: 900px) {
      gap: 30px;
    }
    @media screen and (max-width: 768px) {
      gap: 15px;
    }
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
    &:hover {
      .phone {
        &__icon,
        &__number {
          color: #2d2d2d;
        }
      }
      .media__icon,
      .media__text {
        color: #2d2d2d;
      }
    }
    .phone {
      &__icon {
        color: #616160;
      }
      &__number {
        font-family: "Jost", serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.005em;
        color: #9a9999;
      }
    }
  }
  &__icon {
    margin-right: 10px;
    color: #616160;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
  }
  &__text {
    font-family: "Jost", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #9a9999;
  }
}

hr {
  border: none;
  color: #404040;
  background-color: #404040;
  height: 3px;
  margin: 15px 0 15px;
}

.foundation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 600px) {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &__rights {
    @media screen and (max-width: 600px) {
      order: 1;
    }
  }
  &__privacy {
    &:hover {
      color: #2d2d2d;
    }
    font-family: "Jost", serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.005em;
    color: #9a9999;
    cursor: pointer;
  }
  &__media {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    padding: 1px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px !important;
    height: 25px !important;
    font-size: 26px;

    &:hover {
      color: #006ff2;
    }
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
}
