.footer{
  padding: 37px 50px 20px 50px;

  &__links{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-row-gap: 1em;
    grid-column-gap: 50px;
  }

  &__item{
    display: flex;
    flex-direction: column;
  }

  &__text:not(:last-child){
    margin-bottom: 5px;
  }
}

.media{
  &__item{
    display: flex;
  }
  &__icon{
    margin-right: 5px ;
  }
  &__text{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #9A9999;
  }
}

.developers{
  display: flex;
  justify-content: space-between;
  &__media{
    display: flex;
  }

  &__item:not(:last-child){
    margin-right: 10px;
  }
}