.header {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  z-index: 10000;
  font-family: 'Jost', serif;
  letter-spacing: 0.005em;
}