$height-gray-box-top: 308px;
$height-gray-box-bottom: 180px;
$box-grayscale:100%;
$box-gray-background-color:rgba(0, 0, 0, 0.4);

.home {
  padding-top: 70px;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //padding: 80px 20px 0 20px;
  //background-image: url(../sections/MainSection/bg.jpg);
  //background-repeat: no-repeat;
  //background-size: cover;

  &__bg {
    //display: flex;
    //align-items: center;
    //justify-content: space-evenly;
    position: relative;
    min-height: calc(100vh - 70px);
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
  }
  &__info-wrapper {
    z-index: 15;
    min-height: $height-gray-box-top;
    background-color:$box-gray-background-color;
    backdrop-filter: grayscale($box-grayscale);
    padding-top: 33px;
    padding-left: 65px;
    margin-bottom: calc(100vh - #{$height-gray-box-top} - 70px);
  }
  &__info {
    position: relative;
    text-align: center;
    color: white;
    width: fit-content;
    border-radius: 0 5px 0px 5px;
    &:before,
    &:after,
    &-inner:before,
    &-inner:after {
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: white;
    }
    &:before {
      top: 0;
      left: 0px;
    }
    &:after {
      right: 0px;
      bottom: 0;
    }

    &-inner {
      max-width: 470px;
      width: 100%;
      padding: 40px;
      position: relative;
      &:before,
      &:after {
        width: 1px;
        height: 20px;
      }
      &:after {
        left: 0;
        top: 0;
      }
      &:before {
        bottom: 0;
        right: 0;
      }
    }
  }

  &__subtitle {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.005em;
  }

  &__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 35px;
    margin-bottom: 8px;
    letter-spacing: 0.005em;
    text-transform: capitalize;
  }

  &__desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #e0e0e0;
  }

  &__img-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 70px + #{$height-gray-box-bottom});

    //span {
    //  height: inherit !important;
    //  width: inherit !important;
    //
    //  img {
    //    object-fit: cover;
    //  }
    //}
  }

  &__bottom {
    max-height: $height-gray-box-bottom;
    height: $height-gray-box-bottom;
    background-color: $box-gray-background-color;
    backdrop-filter: grayscale($box-grayscale);
    z-index: 20;
  }
}

//.home {
//  width: 100%;
//  height: 100%;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  padding: 80px 20px 0 20px;
//  background-image: url(../sections/MainSection/bg.jpg);
//  background-repeat: no-repeat;
//  background-size: cover;
//
//  &__bg {
//    display: flex;
//    align-items: center;
//    justify-content: space-evenly;
//  }
//
//  &__info {
//    position: relative;
//    margin-right: 60px;
//    max-width: 470px;
//    background-color: rgba(225,225,225,0.6);
//    border-radius: 0 5px 0px 5px;
//    &:before,
//    &:after,
//    &-inner:before,
//    &-inner:after {
//      content: "";
//      display: block;
//      position: absolute;
//      width: 25px;
//      height: 2px;
//      background-color: black;
//    }
//    &:before {
//      top: 0;
//      left: 0px;
//    }
//    &:after {
//      right: 0px;
//      bottom: 0;
//    }
//
//    &-inner {
//      max-width: 45vw;
//      padding: 40px;
//      position: relative;
//      &:before,
//      &:after {
//        width: 2px;
//        height: 25px;
//      }
//      &:after {
//        left: 0;
//        top: 0;
//      }
//      &:before {
//        bottom: 0;
//        right: 0;
//      }
//    }
//  }
//
//  &__subtitle {
//    margin-bottom: 0px;
//    font-weight: 500;
//    font-size: 28px;
//    line-height: 35px;
//    letter-spacing: 0.005em;
//  }
//
//  &__title {
//    font-weight: 800;
//    font-size: 36px;
//    line-height: 35px;
//    margin-bottom: 8px;
//    letter-spacing: 0.005em;
//    text-transform: capitalize;
//  }
//
//  &__desc {
//    font-weight: 500;
//    font-size: 20px;
//    line-height: 20px;
//    letter-spacing: 0.005em;
//    color: #4F4F4F;
//  }
//
//  &__img {
//    display: block;
//    //min-height: 50vh;
//  }
//}
