$height-gray-box-top: 308px;
$height-gray-box-bottom: 169px;
$box-grayscale: 100%;
$box-gray-background-color: rgba(5, 5, 5, 0.4);

.home {
  padding-top: 70px;

  &__bg {
    position: relative;
    min-height: calc(100vh - 70px);
  }
  &__info-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    z-index: 15;
    min-height: $height-gray-box-top;
    margin-top: calc(100vh - 50vh - #{$height-gray-box-top} / 2 - 70px);
    @media screen and (max-width: 600px) {
      padding: 50px 10px;
    }
  }
  &__info {
    position: relative;
    text-align: center;
    color: white;
    width: fit-content;
    border-radius: 0 5px 0px 5px;

    &-inner {
      max-width: 470px;
      width: 100%;
      padding: 20px;
      position: relative;
      @media screen and (max-width: 900px) {
        max-width: 400px;
      }
      @media screen and (max-width: 600px) {
        padding: 30px 30px;
        max-width: 300px;
      }
    }
  }
  &__subtitle {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.005em;
    @media screen and (max-width: 900px) {
      font-size: 30px;
    }
    @media screen and (max-width: 600px) {
      font-size: 24px;
    }
  }
  &__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    @media screen and (max-width: 900px) {
      font-size: 30px;
      line-height: 34px;
    }
    @media screen and (max-width: 600px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 15px;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    @media screen and (max-width: 900px) {
      font-size: 24px;
      line-height: 28px;
    }
    @media screen and (max-width: 600px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__donation-btn {
    background-color: #0369df;
    color: white;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    transition-duration: 0.3s;
    border-radius: 6px;

    &:hover{
      background-color: #0371ef;
      transition-duration: 0.3s;
    }
  }
  &__desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #e0e0e0;
    margin-bottom: 20px;

    @media screen and (max-width: 900px) {
      font-size: 20px;
    }
    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
  }
  &__img-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  &__bottom {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0);
    opacity: 0.4;
    z-index: 14;
  }
}
