.privacy-policy-page {
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
  min-height: calc(100vh - 145px);
  text-align: justify;

  &__title {
    padding: 15px 10px 0;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    padding: 0 10px;
    text-align: center;
    font-size: 24px;
    max-width: 1000px;
    margin: 0 auto 30px;

    @media screen and (max-width: 900px) {
      font-size: 20px;
    }

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }

  p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }

    @media screen and (max-width: 576px) {
      font-size: 12px;
    }
  }

  &__contact {
    text-decoration: underline;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }

    @media screen and (max-width: 576px) {
      font-size: 12px;
    }
  }
}
