.received-help {
  padding: 55px 70px 67px;

  @media screen and (max-width: 900px) {
    padding: 30px;
  }
  @media screen and (max-width: 600px) {
    padding: 30px 15px;
  }
  &__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 28px;
    letter-spacing: 0.005em;
    margin-bottom: 46px;
  }
  .people-carousel-wrap {
    max-width: 1127px;
    width: 100%;
    margin: 0 auto;
  }

  .people-carousel {
    overflow: hidden;
    padding-bottom: 40px;
    .slick-dots {
      display: flex !important;
      justify-content: center;
      bottom: 0px;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid #6d6d6d;
        width: 16px;
        height: 16px;
        @media screen and (max-width: 376px){
          width: 13px;
          height: 13px;
          border-width: 1px;
          margin: 0 4px;
        }

        button {
          padding: 0;
          width: 8px;
          height: 8px;
          background-color: black;
          border-radius: 50%;

          @media screen and (max-width: 376px){
            width: 5px;
            height: 5px;
          }
          &:before {
            content: none;
          }
        }
      }
      .slick-active {
        border: 2px solid #2cdc48;
      }
    }
  }

  .people-card-wrap {
    display: flex;
    justify-content: center;

    .people-card {
      position: relative;
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
      border-radius: 10px;

      &__top {
        display: flex;
        justify-content: flex-start;
        padding: 5px 12px;
        color: white;
        left: 0px;
        right: 0;
        top: 0;
        height: 55px;
        background-color: #18d162;
        z-index: 1000;
        p {
          font-family: "Manrope", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.005em;
        }
        p:first-child {
          margin-right: 8px;
        }
      }
    }
  }
}
