.report-page {
  padding-top: 70px;
  min-height: calc(100vh - 145px);

  &__title {
    padding: 15px 10px 0px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    padding: 0px 10px;
    text-align: center;
    font-size: 24px;
    max-width: 1000px;

    margin: 0 auto 30px;

    @media screen and (max-width: 900px) {
      font-size: 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
  .people-card-box{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }


  .people-card-wrap {
    display: flex;
    justify-content: center;

    .people-card {
      position: relative;
      width: fit-content;

      &__top {
        display: flex;
        justify-content: flex-start;
        padding: 5px 12px;
        color: white;
        position: absolute;
        border-bottom-left-radius: 20px;
        left: 0px;
        right: 0;
        top: 0;
        height: 55px;
        background-color: #006FF2;
        z-index: 10;
        p {
          font-family: "Manrope", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.005em;
        }
        p:first-child {
          margin-right: 8px;
        }
      }
    }
  }

  .people-card {
    //padding: 20px 50px;
    //@media screen and (max-width: 900px) {
    //  padding: 20px 30px;
    //}
    //@media screen and (max-width: 768px) {
    //  padding: 15px 10px;
    //}
    //&:nth-child(2n + 1) {
    //  background-color: #b9dabf;
    //  border-top: 3px solid #313131;
    //  border-bottom: 3px solid #313131;
    //  .people-card__inner {
    //    flex-direction: row-reverse;
    //    @media screen and (max-width: 535px) {
    //      flex-direction: column;
    //    }
    //  }
    //  .people-card__info {
    //    padding-left: 40px;
    //    padding-right: 0;
    //    @media screen and (max-width: 535px) {
    //      padding: 0;
    //    }
    //  }
    //}
    //&:last-child {
    //  border-bottom: none;
    //}

    //&__inner {
    //  display: flex;
    //  margin: 0 auto;
    //  max-width: 1000px;
    //
    //  @media screen and (max-width: 535px) {
    //    flex-direction: column;
    //    align-items: center;
    //  }
    //}
    //&__info {
    //  margin-right: auto;
    //  padding-right: 30px;
    //  @media screen and (max-width: 768px) {
    //    width: 100%;
    //    padding-right: 10px;
    //  }
    //  @media screen and (max-width: 535px) {
    //    text-align: center;
    //    width: 100%;
    //    padding: 0;
    //  }
    //}
    //&__name {
    //  margin-bottom: 25px;
    //  @media screen and (max-width: 900px) {
    //    font-size: 28px;
    //  }
    //  @media screen and (max-width: 768px) {
    //    text-align: center;
    //    margin-bottom: 20px;
    //  }
    //}
    //&__desc {
    //  margin-bottom: 20px;
    //  font-size: 22px;
    //  @media screen and (max-width: 900px) {
    //    font-size: 18px;
    //  }
    //  @media screen and (max-width: 768px) {
    //    margin-bottom: 15px;
    //  }
    //}
    //&__date {
    //  font-size: 22px;
    //  @media screen and (max-width: 900px) {
    //    font-size: 18px;
    //  }
    //  @media screen and (max-width: 535px) {
    //    margin-bottom: 15px;
    //  }
    //}
  }
}
