.report-page {
  padding-top: 70px;
  min-height: calc(100vh - 145px);

  &__title {
    padding: 15px 10px 0px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    padding: 0px 10px;
    text-align: center;
    font-size: 24px;
    max-width: 1000px;

    margin: 0 auto 30px;

    @media screen and (max-width: 900px) {
      font-size: 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
  .people-card-box{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }


  .people-card-wrap {
    display: flex;
    justify-content: center;

    .people-card {
      position: relative;
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
      border-radius: 10px;

      &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 12px;
        color: white;
        left: 0px;
        right: 0;
        top: 0;
        height: 55px;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        background-color: #006FF2;
        z-index: 10;
        p {
          font-family: "Manrope", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.005em;
        }
        p:first-child {
          margin-right: 8px;
        }
      }

      &__video {
        width: 233px;
        height: 411px;
        border-radius: 0px 0px 10px 10px,;
      }
    }
  }
}
