.links-wrapper{
    display: flex;
    flex-direction: row;
}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;

    &_large {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;

        &:not(:last-child) {
            margin: 0 30px 0 0;
        }
    }

    &:not(:last-child) {
        margin: 0 25px 0 0;
    }
}