
/*------------------------START CODE---------------------*/

body {
  scroll-behavior: smooth;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #F0F0F0;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 35px;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 35px;
}

section{
  min-height:100vh;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  fill: white;
}

.nav {
  &__list {
    display: flex;
    text-align: center;
    & li:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}

/*------------------------END CODE---------------------*/
@import "Layout";
@import "Header";
@import "Footer";
@import "MainSection";
