html {
  scroll-behavior: smooth;
}

body {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 35px;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 35px;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.005em;

  color: #000000;

  margin-bottom: 15px;
}

.next-img {
  height: 100%;
  width: 100%;
  span {
    height: inherit !important;
    width: inherit !important;

    img {
      object-fit: cover;
    }
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  fill: white;
  display: flex;
  align-items: center;
  &__img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  &__title {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.005em;
  }
}

.nav {
  &__list {
    display: flex;
    text-align: center;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    & li:not(:last-child) {
      margin-right: 40px;
      @media screen and (max-width: 1100px) {
        margin-right: 5px;
      }
      @media screen and (max-width: 900px) {
        margin-right: 0px;
      }
    }
    .nav__item {
      cursor: pointer;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
      text-align: center;
      padding: 0 10px;

      &:after,
      &:before {
        content: "";
        position: absolute;
        display: block;
        border: 0px solid transparent;
        width: 0%;
        height: 0%;
        transition: all 0.8s ease;
      }

      &:after {
        width: 0%;
        height: 0%;
        top: 0;
        left: 0;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
      }

      &:before {
        width: 0%;
        height: 0%;
        right: 0;
        bottom: 0;
        border-bottom: 2px solid transparent;
        border-right: 2px solid transparent;
      }

      &:hover::before,
      &:hover::after {
        width: 100%;
        height: 100%;
        border-color: #000;
      }

      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__link {
    font-weight: 700;
    font-size: 20px;
    height: 42px;
    line-height: 42px;
    color: inherit;
    text-transform: capitalize;
    z-index: 1;
    &--btn {
      padding: 0;
      font-family: "Jost", serif !important;
      letter-spacing: 0.005em !important;
    }
  }
}

.bank-accounts {
  &__header {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.005em;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    letter-spacing: 0.005em;

    @media screen and (max-width: 900px) {
      font-size: 22px;
    }
  }

  &__wrap {
    padding: 0 30px;

    @media screen and (max-width: 1300px) {
      padding: 0 15px;
    }

    @media screen and (max-width: 768px) {
      padding: 0 5px;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }

    &-text {
      display: flex;
      font-weight: 500;
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 0.005em;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 900px) {
        font-size: 18px;
      }
      @media screen and (max-width: 600px) {
        flex-wrap: wrap;
      }
    }
  }

  &__сolumn {
    display: inline-block;

    &--head {
      max-width: 200px;
      width: 100%;
      @media screen and (max-width: 900px) {
        max-width: 100px;
      }
    }
  }
  &__stamp {
    width: 200px;
    height: 200px;
    @media screen and (max-width: 768px) {
      margin-bottom: 15px;
    }
  }
}

.table {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  &__title {
    font-weight: 800;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  &__wrap {
    max-width: 520px;
    width: 100%;
    @media screen and (max-width: 1300px) {
      max-width: 500px;
    }
    @media screen and (max-width: 1185px) {
      max-width: 100%;
    }
  }
  &__row {
    margin-bottom: 10px;
    display: flex;
    border: 1px solid black;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
  &__head {
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    padding: 15px;
    @media screen and (max-width: 1300px) {
      padding: 15px 10px;
    }
    @media screen and (max-width: 600px) {
      max-width: 100%;
      p {
        text-align: center;
        width: 100%;
      }
      border-right: none;
      border-bottom: 1px solid black;
    }
  }
  &__value {
    display: flex;
    align-items: center;
    padding: 15px;
    @media screen and (max-width: 1300px) {
      padding: 15px 10px;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      text-align: center;
      word-wrap: anywhere;
    }
  }
}

.phone {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 10px;
    height: 24px;
    width: 24px;
  }

  &__number {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
  }
}
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px 0;

  &__icon {
    max-width: 52px;
    width: 100%;
    height: 50px;
    padding: 5px;
    border: 2px solid #000000;

    span {
      height: 38px !important;
      width: 38px !important;
    }
  }

  &:after,
  &:before {
    content: "";
    display: block;
    width: calc(100% - 40px);
  }
  &:before{
    border-bottom: 3px solid #759cd0;
  }
  &:after{
    border-bottom: 3px solid #fae572;
  }
}

/*------------------------END CODE---------------------*/
@import "Header";
@import "MainSection";
@import "About";
@import "Contacts";
@import "Footer";
@import "Report";
@import "Privacy";
@import "Blog";
@import "BlogEntry";
@import "Activities";
@import "BankAccount";
@import "Donate";
@import "CopyableText";
@import "SocialLinks";
@import "SocialNetworks";